language: php

matrix:
  include:
    - php: 5.6
    - php: 7.0
    - php: 7.1

sudo: false

cache:
  directories:
    - $HOME/.composer/cache

before_install:
- travis_retry composer self-update

install:
- travis_retry composer install --no-interaction --prefer-dist

script:
- php vendor/phpunit/phpunit/phpunit
